# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/

# Editor folders
.vscode/
.idea/

# Environment files
.env

# Chroma DB storage
chroma_db/

# Misc
*.log
*.sqlite
*.db
