fastapi
uvicorn[standard]

sqlalchemy
pyodbc

passlib[bcrypt]
python-jose[cryptography]

pydantic
email-validator

python-dotenv

passlib[argon2]

langchain
langchain-core
langchain-community
langchain-groq
pymupdf
sentence-transformers
chromadb
uuid
celery
redis
black
flower
langchain-openai
psycopg2-binary